$cs1: #5762D5;
$cs2: #FB4D3D;
$cs3: #A9F0D1;
$cs4: #020100;
$cs5: #FFF;
$bg1: #FFF;
$bg2: #FFF;
$bg3: #FFF;
$bg4: #FFF;
$bg5: #FFF;
$txt1: #020100;
$txt2: #020100;
$txt3: #020100;
$txt4: #020100;
$txt5: #020100;

$theme:(
    "sky":#56CBF9,
    "maya":#7FBEEB,
    "powder":#AFBED1,
    "vermillion":#DD403A,
    "bittersweet":#ED6A5A,
    "tangerine":#EC985A,
    "lemon-chiffon":#F4F1BB,
    "ash":#9BC1BC,
    "pomp":#73648A,
    "oxford":#0E1C36,
    "black":#0D0C1D,
    "onyx":#202020,
    "charcoal":#515151,
    "platinum":#E2E2E2,
    "white":#fff
);

$danger: #ea0606;
$warning: #F1D302;
$success: #00f867;